body {

}

nav {
  align-items: center;
}

#nav-bar {
  margin: 0;
  background-color: green;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 2.5em;
  padding-left: 250px;
  padding-top: 10px;
  padding-bottom: 10px;

}

.linkList {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

li {
  list-style-type: none;
}

.profile {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  .profile-info {
    font-size: 1.5em;
    color: grey;
    font-weight: lighter;
  }
}
